@charset "UTF-8";

.container{
	width: 85%;

}
.p-2{
	padding: 24px 12px 24px 12px;
}
.my-5{
	margin-top: 80px;
	margin-bottom: 80px;
}
.my-3{
	margin-top: 48px;
	margin-bottom: 48px;
}
.d-flex{
	display: flex;
}
.fustify-content-around{
	justify-content:space-around;
}
.textCenter{
	text-align: center;
}

