@charset "UTF-8";


/*--- Grid ---*/
.col1{width:6.80%;}
.col2{width:15.27%;}
.col3{width:23.75%;}
.col4{width:32.22%;}
.col5{width:40.69%;}
.col6{width:49.16%;}
.col7{width:57.63%;}
.col8{width:66.11%;}
.col9{width:74.58%;}
.col10{width:83.05%;}
.col11{width:91.52%;}
.col12{width:100%;}

.container{width:85%;margin:0 auto;}

/*--- Normal Setting ---*/
.p-1{
	padding: 1rem 0.5rem 1rem 0.5rem; 
}
.p-2{
	padding: 24px 12px 24px 12px;
}
.my-5{
	margin-top: 80px auto 80px auto;
}
.my-3{
	margin: 48px auto 48px auto;
}
.my-2{
	margin: 32px auto 32px auto;
}
.my-1{
	margin: 16px auto 16px auto;
}
.textCenter{text-align: center;}
.textWhite{color: white;}


/*--- Flex ---*/
.d-flex{display: flex;}
.fustify-content-around{justify-content:space-around;}
.flexwrap{flex-wrap: wrap;}

/*--- Index ---*/
#header{
	background-color: lightblue;
	color: white;
	font-size: 24px;
}
div#test>section{
	background-color: #e6e6e6;
}
div#test>section>div{
	background-color: white;
}
#test>section>div>button[type="button"] {
	cursor: pointer;
}
/*s*/


/*---       RWD自適應       ---*/
/*--- Phone Landscape Style ---*/
@media screen and (min-width: 576px){
	
	/*影片區*/
	div#test{
		width:90%;margin:0 auto;
	}
	div#test>section{
		width:49.16%;
		margin: 16px auto 16px auto;
	}
}

/*--- Pad Portrait Style ---*/
@media screen and (min-width: 768px){
	
	/*影片區*/
	
	div#test>section{
		margin: 32px auto 32px auto;
	}
}

/*--- Pad Landscape Style ---*/
@media screen and (min-width: 992px){
	
	/*影片區*/
	div#test>section{
		width:32.22%;
	}

}

/*--- PC Style ---*/
@media screen and (min-width: 1281px){
	
	/*影片區*/
	div#test>section{
		background-color: #e6e6e6;
		width:23.75%;
	}

}